In [3]:
import pandas as pd

# 1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [4]:
a=pd.Series([1,2,3,4,5])

In [5]:
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# 2.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [6]:
a=pd.Series([1,2,3,4,5])

In [7]:
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# 3.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [8]:
a=pd.Series([1,2,3,4,5])

In [9]:
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# 4.Write a Pandas program to compare the elements of the two Pandas Series.

In [10]:
a=pd.Series([1,2,3,4,5])

In [11]:
b=pd.Series([1,11,22,20,10])

In [12]:
print('Less than:',a<b)
print('Greater than:',a>b)
print('Equals:',a==b)

Less than: 0    False
1     True
2     True
3     True
4     True
dtype: bool
Greater than: 0    False
1    False
2    False
3    False
4    False
dtype: bool
Equals: 0     True
1    False
2    False
3    False
4    False
dtype: bool

# 5.Write a Pandas program to convert a dictionary to a Pandas series.Sample dictionary: 
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [13]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [14]:
a=pd.Series(d1)

In [15]:
print(a)

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6.Write a Pandas program to convert a NumPy array to a Pandas series.

In [16]:
import numpy as np

In [17]:
a=np.array([1,2,3,4,5])

In [18]:
b=pd.Series(a)

In [19]:
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int32

# 7.Write a Pandas program to change the data type of given a column or a Series.

In [20]:
a=pd.Series([1,2,3.0,'Four'])

In [21]:
b=pd.to_numeric(a,errors='coerce')

In [22]:
print(b)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

# 8.Write a Python Pandas program to convert the first column of a DataFrame as a Series.
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [23]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [24]:
a=pd.DataFrame(d)

In [25]:
print(a)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [26]:
ser=a['col1']

In [27]:
print(ser)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

# 9. Write a Pandas program to convert a given Series to an array.

In [28]:
a=pd.Series([1,2,3,4,5])

In [29]:
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [30]:
b=np.array(list(a))  #or b=np.array(a.values.tolist())

In [31]:
print(b)

[1 2 3 4 5]

# 10. Write a Pandas program to sort a given Series.

In [32]:
a=pd.Series(['4','1','3','2','2.2','2.0',"Five"])
print(a)

0       4
1       1
2       3
3       2
4     2.2
5     2.0
6    Five
dtype: object

In [33]:
b=a.sort_values()
print(b)

1       1
3       2
5     2.0
4     2.2
2       3
0       4
6    Five
dtype: object